@import url(./_faded/card_faded.css);
@import url(./__remove-btn/card__remove-btn.css);
@import url(./__caption/card__caption.css);
@import url(./__pic/card__pic.css);
@import url(./__title/card__title.css);
@import url(./__like-container/card__like-container.css);
@import url(./__like-count/card__like-count.css);
@import url(./__like-btn/card__like-btn.css);
@import url(./__like-btn/_active/card__like-btn_active.css);
@import url(./__like-btn/_disabled/card__like-btn_disabled.css);


.card {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}